.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-select {
  width: 300px; /* Độ rộng của combobox */
  margin-top: 10px; /* Khoảng cách giữa combobox và phần tử trên nó */
  margin-right: 20px; /* Khoảng cách giữa các combobox */
  padding: 5px; /* Khoảng cách giữa nội dung và viền của combobox */
  font-size: 16px; /* Kích thước chữ */
  background-color: #f0f0f0; /* Màu nền của combobox */
}

.select-container {
  display: flex;
  justify-content: center; /* Căn giữa các combobox */
  margin-bottom: 20px; /* Khoảng cách giữa combobox và bảng */
}

.save-button{
  padding: 10px 20px; /* Kích thước của nút */
  margin-top: 10px;
  font-size: 16px; /* Kích thước chữ */
  background-color: #4CAF50; /* Màu nền của nút */
  color: white; /* Màu chữ */
  border: none; /* Bỏ viền */
  cursor: pointer; /* Con trỏ khi rê chuột vào nút */

}
